# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
._*

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
*.code-workspace
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST
docs/phat/*
doc/api/*
doc/_rst/*
doc/_build/*
doc/build/*
# Per-project virtualenvs
.venv*/
.conda*/

# Training results
results/*
data/*
results/*
general/*
bitacora.txt

# PyTorch models
*.pth
